* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
}

ul {
  list-style: none;
  padding: 0;
}
figure {
  width: 100%;
  margin: 0;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
